<section class="h-[80vh] w-full flex flex-col items-center justify-center font-poppins" id="hero">
    <h1 class="text-5xl lg:text-8xl text-white font-semibold">Hello, I'm <span class="text-[#63e]">Hixo</span></h1>
    <h2 class="text-[#65e] text-2xl lg:text-4xl font-medium">Full-Stack Developer</h2>
</section>