---
import Background from '../components/Background.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<Background>
		<main>
	
	</main>
	</Background>
</Layout>

