---
const items = [
    {
        name: "Projects",
        href: "#projects"
    },
    {
        name: "About me",
        href: "#about"
    }
]
---

<header class="w-screen h-24 flex items-center px-6 justify-between text-white font-poppins">
    <nav class="flex gap-6">
        {items.map((item) => <a class="hover:text-gray-300 duration-100 transition-all" href={item.href}>{item.name}</a>)}
    </nav>
</header>