---
import { Icon } from 'astro-icon/components'

const items = [
    {
        name: "Projects",
        href: "#projects"
    },
    {
        name: "About me",
        href: "#about"
    }
]
---

<header class="sticky top-0 w-screen h-16 flex items-center px-6  text-white font-poppins">
    <nav class="flex gap-6 items-center w-full">
        {items.map((item) => <a class="hover:text-gray-300 duration-100 transition-all" href={item.href}>{item.name}</a>)}
    </nav>
        <a target="_blank" href="https://github.com/hixo23"><Icon color="white" size={34} name="mdi:github" /></a>
    </header>